<div class="jumbotron">
<h1>Estudiantes ingresados</h1>
</div>
<%= form_tag "", :method => "get" do %>
<%= text_field_tag :termino%>
<%= submit_tag "buscar"%>
<% end %>
<table class="table table-bordered table-striped">
 <tr>
   <th>nombre estudiante</th>
   <th>Mostrar</th>
 </tr>
<% @students.each do |student| %>
<tr>
  <td><%= student.name %></td>
  <td> <%= link_to "Mostrar", student , class: "btn btn-primary" %></td>
</tr>
<% end %>
</table>

<%= link_to "Ingresar estudiante", new_student_path , class: "btn btn-default" %>
