<table class="table table-bordered table-striped">
<tr>
  <th>Nombre</th>
  <th>Apellidos</th>
  <th>Rut</th>
  <th>Email</th>
  <th>Carrera</th>
</tr>
<tr>
  <td>
    <%= @student.name%>
  </td>
  <td>
    <%= @student.last_name%>
  </td>
  <td>
    <%= @student.rut%>
  </td>
  <td>
    email<%= @student.email%>
  </td>
  <td>
    <%= @student.career.namecareer%>
  </td>
</tr>

</table>
