<table class="table table-bordered table-striped">
<tr>
  <td>
    nombre
    <%= @student.name%>
  </td>
  <td>
apellidos
    <%= @student.last_name%>
  </td>
  <td>
rut
    <%= @student.rut%>
  </td>
  <td>
    email<%= @student.email%>
  </td>
<td>
carrera    <%= @student.career.namecareer%>
  </td>
</tr>

</table>
