<div class="container">
  <p>
    Nombre
    <%= @student.name%>
  </p>
  <p>
apellidos
    <%= @student.last_name%>
  </p>
  <p>
rut
    <%= @student.rut%>
  </p>
  <p>
    email<%= @student.email%>
  </p>
<p>
carrera    <%= @student.career.namecareer%>
  </p>

</div>
