<%= form_for @document, html: { multipart: true } do |f| %>
  <p>
  <%= f.label :Titulo %> <br>
  <%= f.text_field :title%>
  </p>
  <p>
  <%= f.label :abstract %> <br>
  <%= f.text_field :abstract %>
  </p>
  <p>
  <%= f.label :Rut_Estudiante %> <br>
  <%= f.text_field :rut_student %>
  </p>
  <p>
  <%= f.label :rut_docente %> <br>
  <%= f.text_field :rut_professor %>
  </p>
  <p>
    <%= f.label :datepublished %> <br>
    <%= f.date_field :datepublished %>
  <p>
  <%= f.label :user_id %><br>
      <%= f.select('user_id', User.all.collect { |c| [c.name, c.id] }, {include_blank: true}) %>
  </p>
  <p>
  <p>
    <%= f.label :attachment %>
      <%= f.file_field :attachment %>
  </p>
  <%= f.submit "Crear documento", class: "btn btn-danger" %> <br>
<% end %>
