<div class="container">
  <p>
    <%= @document.title%> <<br>
    <%= @document.abstract%>
    <%= @document.user.name %>
    <%= @document.created_at.strftime('%d/%m/%Y') %>
  </p>
</div>

<%= link_to "voler", documents_path %>
