<div class="jumbotron">
<h1>Profesores ingresados</h1>
</div>
<%= form_tag "", :method => "get" do %>
<%= text_field_tag :termino%>
<%= submit_tag "buscar"%>
<% end %>
<table class="table table-bordered table-striped ">
 <tr>
   <th>Nombres profesor</th>
   <th>Apellidos profesor</th>
   <th>Mostrar</th>
 </tr>

<% @professors.each do |professor| %>
<tr>
  <td><%= professor.name %></td>
  <td><%= professor.last_name %></td>

  <td> <%= link_to "Mostrar", professor , class: "btn btn-primary" %></td>
</tr>
<% end %>
</table>

<%= link_to "Ingresar docente", new_professor_path , class: "btn btn-default" %>
