<div class="jumbotron">
  <h1>Documentos ingresados por profesor</h1>
</div>
<% if (user = current_user).present? %>
<p><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %></p>
<% end %>
<table class='table table-bordered table-striped'>
 <tr>
  <td>Nombre Documento</td>
  <td>Nombre Estudiante</td>
  <td>Nombre Docente</td>
  <td>Acciones</td>
  </tr>
<% @professors.each do |profesor| %>
<tr>
  <td><%= profesor.name %></td>
  <td><%= profesor.documents.each do |d| %></td>
  <td><%= d.title %></td>
  <td><%= d.abstract %></td>
  <td> <%= link_to "Mostrar", document %></td>
  <% if (user = current_user).present?  %>
  <td><%= link_to "Eliminar", document, method: :delete, data: { confirm: 'Esta seguro?'},class: "btn btn-danger" %></td>
  <% end %>
  <td><%= link_to "Ver documento", document.attachment_url %></td>
</tr>
  <% end %>
<% end%>
</table>
<% if (user = current_user).present?  %>
<%= link_to "Ingresar documento", new_document_path %>
<% end  %>
