<!DOCTYPE html>
<html>
  <head>
    <title>PortalTesis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <ul class="nav nav-pills">
          <li>
            <%= link_to "Inicio", root_path %>
          </li>
          <li>
            <%= link_to "Documentos", documents_path %>
          </li>
          <li>
            <%= link_to "Registrar usuario", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Iniciar sesion", user_session_path %>
          </li>
          <li>
            <%= link_to "Escuela", schools_path %>
          </li>
          <li>
            <%= link_to "Carrera", careers_path %>
          </li>
          <li>
            <%= link_to "Usuario", users_path %>
          </li>
        </ul>
      </div>
   </nav>
    <%= yield %>
  </body>
</html>
